{% extends 'base.html' %}

{% block content %}
<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="page-title">About Us</h1>
            <p>
                Company Information
                Hattiesburg rent a car has a reputation for excellence and value across the globe. Get company info on
                Hattiesburg Car Rental USA at HattiesburgCarRental.com
            </p>
            <div class="dark">
                <b>WHAT DO YOU NEED TO RENT A CAR?</b>
                <br><br>
                In order to rent from Enterprise Rent-A-Car in the United States and Canada, all drivers must meet the
                following requirements:
                <ol>
                    <li>Meet the renting location's minimum age requirements.</li>
                    <li>Have a valid driver's license.</li>
                    <li>Be able to provide an acceptable form of payment.</li>
                </ol>
                <br>
                Additional items to consider prior to picking up your rental car
                <ol>
                    <li>After-hours drop-off availability</li>
                    <li>Use of toll roads</li>
                    <li>Mileage restrictions</li>
                    <li>Insurance and protection product options</li>
                    <li>Deposit required upon pickup</li>
                    <li>Renting car seats, GPS or additional equipment</li>
                </ol>
            </div>
        </article>

        <aside id="sidebar">
            <div class="dark">
                <h3>What We Do</h3>
                <p> We Rent the most amazing cars at the best Prices! We help you in your times of car needs! </p>
            </div>
        </aside>
    </div>
</section>
{% endblock %}